.header{
	height: 60px;
	background-color:blue;
}
.wrapper{
	overflow: hidden;
}
.contact{
	height: 150px; width: 50%;
	background-color: green;
	float: left;
	border: 5px solid black;
	box-sizing: border-box;
}
.blog{
	height: 150px; width:50%;
	background-color: skyblue;
	float: right;
	border: 5px solid red;
	box-sizing: border-box;
	}
.box{
	width: 33%; height: 150px;
	float: left;}
.boxx{
	width: 25%; height:120px;
	float: left;}
.red{background-color: red;}
.yellow{background-color: yellow;}
.blue{background-color: blue;}
.green{background-color: green;}
.dimension{
	width: 200px; height: 250px;
	background-color: orange;
	padding: 50px;margin:50px;
}
.footer{height: 60px;background-color: blue;}